{% load static %}
{% load shoptags %}
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not items.has_previous %} disabled {% endif %}"><a class="page-link" href="{% if items.has_previous %}?{% change_params page=items.previous_page_number %}{% endif %}">Previous</a></li>
        {% for page in items.paginator.page_range %}
        {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
        <li class="page-item {% if items.number == page %} active {% endif %}"><a class="page-link" href="?{% change_params page=page %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not items.has_next %} disabled {% endif %}"><a class="page-link" href="{% if items.has_next %}?{% change_params page=items.next_page_number %}{% endif %}">Next</a></li>
    </ul>
</nav>