{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{% if user.image %} {{ user.image.url }}  {% else %} {% static 'img/default_avatar.jpg' %} {% endif %}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><li class="fa fa-plus" >{{ form.image }}</li></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Username</label>
                            {{ form.username }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            {{ form.address }}
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save" class="btn btn-primary px-3">
                        </div>
                    </form>
                        
                    </div>
                </div>
                <div class="collapse mb-5 show ">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                    <div class="row px-xl-5">
                        <div class="col">
                            <div class="bg-light p-30">
                                <div class="nav nav-tabs mb-4">
                                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">My lots</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Waiting for confirmation</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">In progress</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-4">exchange history</a>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-pane-1">
                                        <div class="pre-scrollable">
                                        <table class="table table-light table-borderless table-hover text-center mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Photo</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Comments</th>
                                                    <th>Delete</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                    {% for item in my_items %}
                                                    <tr>
                                                        <td  class="align-middle"><img src="{% if item.get_first_photo %}{{ item.get_first_photo }}{% else %}{% static 'img/default_item.jpg' %}{% endif %}" alt="" style="width: 50px;"></td>
                                                        <td class="align-middle"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                                                        <td class="align-middle">{{ item.type }}</td>
                                                        <td class="align-middle">{{ item.comments.count }}</td>
                                                        <td class="align-middle"><a href="{% url 'catalog:delete_item' obj_id=item.id  %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                        <td class="align-middle"><button class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button></td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-2">
                                        <div class="pre-scrollable">
                                            <table class="table table-light table-borderless table-hover text-center mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Sent item</th>
                                                        <th>Received item</th>
                                                        <th>User</th>
                                                        <th>Status</th>
                                                        <th>Refuse</th>
                                                        <th>Accept</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="align-middle">
                                                    {% for exchange in exchanges %}
                                                    {% if exchange.status == "waiting" %}
                                                    <tr>
                                                        <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                        <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                        <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                        <td class="align-middle">{{ exchange.status }}</td>
                                                        <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id arg='del' %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                        <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id arg='accept' %}" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a></td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-3">
                                        <div class="pre-scrollable">
                                        <table class="table table-light table-borderless table-hover text-center mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Sent item</th>
                                                    <th>Received item</th>
                                                    <th>User</th>
                                                    <th>Status</th>
                                                    <th>Refuse</th>
                                                    <th>Complete</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                {% for exchange in exchanges %}
                                                {% if exchange.status == "processing" %}
                                                <tr>
                                                    <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                    <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                    <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                    <td class="align-middle">{{ exchange.status }}</td>
                                                    <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id arg='del' %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                    <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id arg='accept' %}" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-4">
                                        <div class="pre-scrollable">
                                            <table class="table table-light table-borderless table-hover text-center mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Sent item</th>
                                                        <th>Received item</th>
                                                        <th>User</th>
                                                        <th>Status</th>
                                                        </tr>
                                                </thead>
                                                <tbody class="align-middle">
                                                    {% for exchange in exchanges %}
                                                    {% if exchange.status == "complete" %}
                                                    <tr>
                                                        <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                        <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                        <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                        <td class="align-middle">{{ exchange.status }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 3</p>
                            <p>$150</p>
                        </div>
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$160</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}
