{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url "catalog:shop" %}">Shop</a>
                    <span class="breadcrumb-item active">Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">My information</span></h5>
                <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{% if user.image %} {{ user.image.url }}  {% else %} {% static 'img/default_avatar.jpg' %} {% endif %}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><li class="fa fa-plus" >{{ form.image }}</li></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>Username</label>
                            {{ form.username }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            {{ form.address }}
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save" class="btn btn-primary px-3">
                        </div>
                    </form>
                
                    </div>
                </div>
                <div class="collapse mb-5 show ">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Lots and exchanges</span></h5>
                    <div class="row px-xl-5">
                        <div class="col">
                            <div class="bg-light p-30">
                                <div class="nav nav-tabs mb-4">
                                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">My lots</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Favorite lots</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Waiting for confirmation</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-4">In progress</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-5">Exchange history</a>
                                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-6">Reviews</a>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-pane-1">
                                        <div class="pre-scrollable">
                                        <table class="table table-light table-borderless table-hover text-center mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Photo</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Comments</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                    {% for item in my_items %}
                                                    <tr>
                                                        <td  class="align-middle"><img src="{% if item.get_first_photo %}{{ item.get_first_photo }}{% else %}{% static 'img/default_item.jpg' %}{% endif %}" alt="" style="width: 50px;"></td>
                                                        <td class="align-middle"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                                                        <td class="align-middle">{{ item.type }}</td>
                                                        <td class="align-middle">{{ item.comments.count }}</td>
                                                        <td class="align-middle"><a href="{% url 'catalog:delete_item' obj_id=item.id  %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="tab-pane-2">
                                        <div class="pre-scrollable">
                                        <table class="table table-light table-borderless table-hover text-center mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Photo</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Comments</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                    {% for favorite in favorites %}
                                                    <tr>
                                                        <td  class="align-middle"><img src="{% if favorite.get_first_photo %}{{ favorite.get_first_photo }}{% else %}{% static 'img/default_item.jpg' %}{% endif %}" alt="" style="width: 50px;"></td>
                                                        <td class="align-middle"><a href="{{ favorite.get_absolute_url }}">{{ favorite.name }}</a></td>
                                                        <td class="align-middle">{{ favorite.type }}</td>
                                                        <td class="align-middle">{{ favorite.comments.count }}</td>
                                                        <td class="align-middle"><a href="{% url 'catalog:favorite_item' item_id=favorite.id  %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-3">
                                        <div class="pre-scrollable">
                                            <table class="table table-light table-borderless table-hover text-center mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Sent item</th>
                                                        <th>Received item</th>
                                                        <th>User</th>
                                                        <th>Status</th>
                                                        <th>Message</th>
                                                        <th>Refuse</th>
                                                        <th>Accept</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="align-middle">
                                                    {% for exchange in waiting_status %}
                                                    {% if exchange.status == "waiting" %}
                                                    <tr>
                                                        <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                        <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                        <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                        <td class="align-middle">{{ exchange.status }}</td>
                                                        <td class="align-middle"><button onclick="toggleDetails(this)"><i class="fa fa-envelope"></i></button></td>
                                                        <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id action='del' %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                        <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id action='accept' %}" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a></td>
                                                        
                                                        <tr class="details-row" style="display: none;">
                                                            <td colspan="6">
                                                                {{ exchange.message }}
                                                            </td>
                                                        </tr>
                                                    </tr>
                                                    
                                                    {% endif %}
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-4">
                                        <div class="pre-scrollable">
                                        <table class="table table-light table-borderless table-hover text-center mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Sent item</th>
                                                    <th>Received item</th>
                                                    <th>User</th>
                                                    <th>Status</th>
                                                    <th>Refuse</th>
                                                    <th>Complete</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                {% for exchange in accepted_exchanges %}
                                                {% if exchange.status == "processing" %}
                                                <tr>
                                                    <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                    <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                    {% if exchange.sent_item.seller == request.user %}
                                                    <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                    {% else %}
                                                    <td class="align-middle"><img src="{{ exchange.sent_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.sent_item.seller }}</td>
                                                    {% endif %}
                                                    <td class="align-middle">{{ exchange.status }}</td>
                                                    <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id action='del' %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                                                    <td class="align-middle"><a href="{% url 'catalog:change_exchange' exchange_id=exchange.id action='accept' %}" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-5">
                                        <div class="pre-scrollable">
                                            <table class="table table-light table-borderless table-hover text-center mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Sent item</th>
                                                        <th>Received item</th>
                                                        <th>User</th>
                                                        <th>Status</th>
                                                        </tr>
                                                </thead>
                                                <tbody class="align-middle">
                                                    {% for exchange in accepted_exchanges %}
                                                    {% if exchange.status == "complete" %}
                                                    <tr>
                                                        <td  class="align-middle"><a href="{{ exchange.sent_item.get_absolute_url }}"><img src="{{ exchange.sent_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.sent_item.name }}</a></td>
                                                        <td class="align-middle"><a href="{{ exchange.received_item.get_absolute_url }}"><img src="{{ exchange.received_item.get_first_photo }}" alt="" style="width: 50px;">{{ exchange.received_item.name }}</a></td>
                                                        <td class="align-middle"><img src="{{ exchange.received_item.seller.image }}" alt="" style="width: 50px;">{{ exchange.received_item.seller }}</td>
                                                        <td class="align-middle">{{ exchange.status }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-pane-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="mb-4">{{ user.to_user.count }} review for "{{ user.username }}"</h4>
                                                <div class="pre-scrollable" >
            {% for comment in user.to_user.all %}
            
                                                <div class="media mb-4">
                                                    <img src="{% if comment.user.image %} {{ comment.user.image.url }}{% else %} {% static 'img/default_avatar.jpg' %} {% endif %}" alt="Image" class="img-fluid1 mr-3 mt-1" style="width: 45px;">
                                                    <div class="media-body">
                                                        <h6>{{ comment.from_user.username }}<small> - <i>{{ comment.created }}</i>{% if request.user == comment.from_user %} <a href="{% url "users:delete_comment" comment_id=comment.id  %}" class="btn-danger" >delete</a>{% endif %}</small></h6>
            
                                                        <p>{{comment.body}}</p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="mb-4">Leave a review</h4>
                                                <small>Your email address will not be published. Required fields are marked *</small>
                                                {% if user.is_authenticated %}                                    
                                                <form action="{% url "users:add_comment" user_id=user.id %}" method="post" >
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="message">Your Review *</label>
                                                        <textarea name="user_review" id="message" cols="30" rows="5" class="form-control"></textarea>
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                                    </div> 
                                                </form>
                                                {% else %}
                                                <a href="{% url 'users:login' %}" class="btn btn-primary px-3">Login to leave a review</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Exchange Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Active exchanges</h6>
                            <h6 class="font-weight-medium">{{ user.active_deals }}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total number of exchanges</h5>
                            <h5>{{ user.amount_of_deals }}</h5>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    <script>function toggleDetails(button) {
        var row = button.parentNode.parentNode.nextElementSibling;
        if(row.classList.contains('details-row')) {
            if(row.style.display === 'none') {
                row.style.display = 'table-row';
                button.querySelector('i').classList.add("fa-envelope-open");

            } else {
                row.style.display = 'none';
                button.querySelector('i').classList.add("fa-envelope");
            }
        }
    }
    </script>

{% endblock %}
