{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'catalog:shop' %}">Shop</a>
                <a class="breadcrumb-item text-dark" href="{% url 'catalog:shop' %}">Lot</a>
                <span class="breadcrumb-item active">Exchange</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="/static/img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="/static/img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">username</h6>
                    <h3 class="text-white mb-3">name</h3>
                    <button class="btn btn-primary" id="shopNowBtn" >Shop Now</button>
                </div>
            </div>
            <div id="productList" style="display: none;">

                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <div class="flex-fill pl-3">
                                        <h6>Category </h6>
                                    
                                    <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                                </div>
                            </div>
                            </div>
                        </a>
                    </div>
            
                
                
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("shopNowBtn").addEventListener("click", function() {
        document.getElementById("productList").style.display = "block";
    });

</script>

{% endblock %}

