{% extends "base.html" %}
{% load static %}
{% load shoptags %}

{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'catalog:shop' %}">Shop</a>
                <a class="breadcrumb-item text-dark" href="{% url 'catalog:shop' %}">Lot</a>
                <span class="breadcrumb-item active">Exchange</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{% if received_item.images.all %}{{received_item.get_first_phone}}{% else %}{% static "img/default_item.jpg" %}{% endif %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{{received_item.seller}}</h6>
                    <h3 class="text-white mb-3">{{ received_item.name }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{% if sent_item.images.all %}{{sent_item.get_first_photo}}{% else %}{% static "img/default_item.jpg" %}{% endif %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{{sent_item.seller}}</h6>
                    <h3 class="text-white mb-3">{{ sent_item.name }}</h3>
                    <button class="btn btn-primary" id="shopNowBtn" >select lot</button>
                </div>
            </div>
            <div id="productList" style="display: none;">
                    {% for si in sent_items %}
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <a class="text-decoration-none" href="?{% change_params SI_id=si.id %}">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <div class="flex-fill pl-3">
                                        <h6>{{si.name}} </h6>
                                    
                                    <img class="img-fluid" src="{% if si.images.all %}{{ si.get_first_photo }}{% else %}{% static 'img/default_item.jpg' %}{% endif %}" alt="">
                                </div>
                            </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}                
            </div>
            {% if sent_item %}
            <form method='post' action="{% url 'catalog:send_offer' sent_item_id=sent_item.id received_item_id=received_item.id %}" >
                {% csrf_token %}
                <div class="control-group">
                    <textarea name="message" class="form-control" rows="8" id="message" placeholder="Message"
                        data-validation-required-message="Please enter your message" data-validation-optional></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="send an offer" class="btn btn-primary px-3">
                </div>
            </form> 
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.getElementById("shopNowBtn").addEventListener("click", function() {
        document.getElementById("productList").style.display = "block";
    });

</script>

{% endblock %}

